@-webkit-keyframes maskAnimation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-2px); }
  100% { transform: translateY(0px); }
}
@-moz-keyframes maskAnimation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-2px); }
  100% { transform: translateY(0px); }
}
@keyframes maskAnimation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-2px); }
  100% { transform: translateY(0px); }
}

@-webkit-keyframes wave1Animation {
  0% { transform: translate(0); }
  50% { transform: translate(0.5px, -0.25px); }
  100% { transform: translate(0px); }
}
@-moz-keyframes wave1Animation {
  0% { transform: translate(0); }
  50% { transform: translate(0.5px, -0.25px); }
  100% { transform: translate(0px); }
}
@keyframes wave1Animation {
  0% { transform: translate(0); }
  50% { transform: translate(0.5px, -0.25px); }
  100% { transform: translate(0px); }
}

@-webkit-keyframes wave2Animation {
  0% { transform: translate(0); }
  50% { transform: translate(-0.5px, 0.25px); }
  100% { transform: translate(0px); }
}
@-moz-keyframes wave2Animation {
  0% { transform: translate(0); }
  50% { transform: translate(-0.5px, 0.25px); }
  100% { transform: translate(0px); }
}
@keyframes wave2Animation {
  0% { transform: translate(0); }
  50% { transform: translate(-0.5px, 0.25px); }
  100% { transform: translate(0px); }
}

@-webkit-keyframes wave3Animation {
  0% { transform: translate(0); }
  50% { transform: translate(-0.25px, 0.25px); }
  100% { transform: translate(0px); }
}
@-moz-keyframes wave3Animation {
  0% { transform: translate(0); }
  50% { transform: translate(-0.25px, 0.25px); }
  100% { transform: translate(0px); }
}
@keyframes wave3Animation {
  0% { transform: translate(0); }
  50% { transform: translate(-0.25px, 0.25px); }
  100% { transform: translate(0px); }
}

svg.mask-container {
  width: 100%;
  margin: -2px 0;
  background: white;
}
svg.mask-container path.black {
  fill: #1f1f1f;
}
svg.mask-container path.white {
  fill: white;
}
svg.mask-container path.figure {
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 1.04;
}
svg.mask-container g.center {
  transform: translate(40%, 25%);
}

svg.mask-container g.mask {
  -webkit-animation: maskAnimation 1500ms ease-in-out infinite both;
  -moz-animation:    maskAnimation 1500ms ease-in-out infinite both;
  -ms-animation:     maskAnimation 1500ms ease-in-out infinite both;
  -o-animation:      maskAnimation 1500ms ease-in-out infinite both;
  animation:         maskAnimation 1500ms ease-in-out infinite both;
}

svg.mask-container path.wave-1 {
  -webkit-animation: wave1Animation 1500ms ease-in-out infinite both;
  -moz-animation:    wave1Animation 1500ms ease-in-out infinite both;
  -ms-animation:     wave1Animation 1500ms ease-in-out infinite both;
  -o-animation:      wave1Animation 1500ms ease-in-out infinite both;
  animation:         wave1Animation 1500ms ease-in-out infinite both;
}

svg.mask-container path.wave-2 {
  -webkit-animation: wave2Animation 1500ms ease-in-out infinite both;
  -moz-animation:    wave2Animation 1500ms ease-in-out infinite both;
  -ms-animation:     wave2Animation 1500ms ease-in-out infinite both;
  -o-animation:      wave2Animation 1500ms ease-in-out infinite both;
  animation:         wave2Animation 1500ms ease-in-out infinite both;
}

svg.mask-container path.wave-3 {
  -webkit-animation: wave3Animation 1500ms ease-in-out infinite both;
  -moz-animation:    wave3Animation 1500ms ease-in-out infinite both;
  -ms-animation:     wave3Animation 1500ms ease-in-out infinite both;
  -o-animation:      wave3Animation 1500ms ease-in-out infinite both;
  animation:         wave3Animation 1500ms ease-in-out infinite both;
}
