.intro {
  position: relative;
  display: flex;
  padding: 3em;
  padding-bottom: 0;
  background: black;
  color: white;
}

.intro .content {
  width: 50%;
  padding-right: 1em;
  min-width: 200px;
  max-width: 600px;
  font-size: 1.8em;
}

.intro .content > div {
  min-height: max(50vh, 50vw);
  line-height: 1.6em;
}

.intro .animation svg {
  position: absolute;
  top: 3em;
  right: 0;
  width: 50%;
}

.intro .animation svg.fixed {
  position: fixed;
}
.intro .animation svg.bottom {
  top: unset;
  bottom: 3em;
}

/* all svg styles (16 groups) */
.intro .animation svg g {
  transition: opacity 100ms ease-in-out;
}
.intro .animation svg .white {
  fill: white;
}
.intro .animation svg .opaque {
  opacity: 0.6;
}
.intro .animation svg .custom {
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 0.79px;
}

.intro svg.edge {
  position: absolute;
  width: 100%;
  bottom: -3em;
  left: 0;
}

.intro svg.edge path {
  fill: white;
}
