section.text {
  position: relative;
  display: flex;
  padding: 3em;
  padding-bottom: 0;
  background: black;
  color: white;
}

section.text .content {
  width: 50%;
  padding-right: 1em;
  min-width: 200px;
  max-width: 600px;
  font-size: 1.8em;
}

section.text .content > div {
  padding-bottom: calc(25vh + 20vw);
  line-height: 1.6em;
}

section.text .content a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
section.text .content a:hover {
  border-bottom-color: white;
}

section.text .animation svg {
  position: absolute;
  top: 3em;
  right: 0;
  width: 50%;
}

section.text .animation svg.fixed {
  position: fixed;
}
section.text .animation svg.bottom {
  top: unset;
  bottom: 3em;
}

/* all svg styles (16 groups) */
.intro .animation svg g {
  transition: opacity 100ms ease-in-out;
}
.intro .animation svg .white {
  fill: white;
}
.intro .animation svg .opaque {
  opacity: 0.6;
}
.intro .animation svg .custom {
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 0.79px;
}

svg.edge {
  position: absolute;
  width: 100%;
  bottom: -3em;
  left: 0;
}
svg.edge.relative {
  position: relative;
  margin-bottom: -3em;
}
svg.edge.reversed {
  bottom: unset;
  top: -3em;
  transform: scale(-1);
}

svg.edge path {
  fill: white;
}
