section.text {
  position: relative;
  display: flex;
  padding: 3em;
  padding-bottom: 0;
  background: black;
  color: white;
}

section h2 {
  margin: 0;
  font-size: 2em;
}

section.text .content {
  width: 50%;
  padding-right: 1em;
  min-width: 200px;
  max-width: 600px;
  font-size: 1.8em;
}

section.text .content > div {
  padding-bottom: calc(25vh + 20vw);
  line-height: 1.6em;
}

section.text .content a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
section.text .content a:hover {
  border-bottom-color: white;
}

section.text .animation svg {
  position: absolute;
  top: 3em;
  right: 0;
  width: 50%;
}

section.text .animation svg.fixed {
  position: fixed;
}
section.text .animation svg.bottom {
  top: unset;
  bottom: 3em;
}

/* all svg styles (16 groups) */
.intro .animation svg * {
  transform-origin: center;
  transition: opacity 250ms ease-in-out,
              transform 250ms ease-in-out;
}
.intro .animation svg g.group {
  transition: opacity 150ms ease-in-out;
}
.intro .animation svg .white {
  fill: white;
}
.intro .animation svg .custom {
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 0.79px;
}

svg.edge {
  position: absolute;
  width: 100%;
  bottom: -3em;
  left: 0;
}
svg.edge.relative {
  position: relative;
  margin-bottom: -3em;
}
svg.edge.reversed {
  bottom: unset;
  top: -3em;
  transform: scale(-1);
}

svg.edge path {
  fill: white;
}

section.coin {
  position: relative;
}
section.coin .task {
  width: 50%;
  margin: 1.6em 0;
  font-size: 1.2em;
  line-height: 1.5em;
}

@keyframes toss {
  0% { bottom: 3em;}
  50% { bottom: 20em;}
  100% { bottom: 3em;}
}
section.coin .animation {
  position: absolute;
  overflow: hidden;
  left: calc(50% + 8em);
  bottom: 3em;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(0deg) rotateX(0deg);
  transition: all 1s ease-in-out;
}
section.coin .animation.flip {
  transform: rotateY(720deg) rotateX(720deg);
}
section.coin .animation.toss {
  animation: toss .7s forwards ease-in-out;
}
section.coin .animation img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
section.coin .animation img.eagle {
  opacity: 1;
}

section.coin .stats {
  margin-left: 6em;
  font-size: 1.2em;
  line-height: 1.6em;
}
section.coin .stats button {
  display: block;
  margin-top: 2em;
  background: white;
  border: 1px solid black;
  font-size: 1.2em;
  padding: 0.4em 1em;
  outline: none;
  cursor: pointer;
}
section.coin .stats button.disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: default;
}
section.coin .stats button:hover {
  background: black;
  color: white;
}

section.center {
  padding-bottom: 12em;
}
section.center .content {
  margin: 0 auto;
  padding: 0;
}
