@import './font.css';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 14px;
  font-family: Montserrat, Helvetica, sans-serif;
  background: black;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

button {
  font-family: Montserrat, Helvetica, sans-serif;
}

/* ------------------- */
/* First start section */
/* ------------------- */
@import './sections/start.css';

/* -------------------- */
/* Second intro section */
/* -------------------- */
@import './sections/intro.css';

/* ----------------------- */
/* Third questions section */
/* ----------------------- */
@import './sections/question.css';

/* ----------------------------- */
/* All svg arts between sections */
/* ----------------------------- */
@import './sections/arts.css';
