include /partials/intro
include /partials/mask
include /partials/ship
include /partials/pistol
include /partials/rain
include /partials/falling

html
  head
    title Delusions
    meta(name="title" content="Delusions")
    meta(name="description" content="Interactive story on delusions and biases for Intuition Park")
    link(rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon")
    link(rel="icon" href="../assets/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="../styles/style.css")

    script(src="../scripts/start.js")
    script(src="../scripts/intro.js")
    script(src="../scripts/question.js")
    script(src="../scripts/rain.js")

  body
    main
      section.start
        .header.fixed
          .logo
            | И<span>с</span>ка<br/>&nbsp;ж<span>е</span><br/>н<span>и</span>я
          .year 2020
        svg
          ellipse(cx="50%" cy="50%" rx="250" ry="25")
        .anchor

      section.intro
        .content
          div
            | Мы привыкли считать, что принимаем решения, исходя из своих убеждений, выводов, желаний, настроения. Но зачастую не знаем, как формируются убеждения, откуда берутся  выводы, почему возникают желания, из-за чего меняется настроение.
          div
            | За мышление и принятие решений отвечает мозг. Это удивительный механизм, но не безупречный. Есть ситуации, когда наш собственный мозг нас обманывает. Это когнитивные искажения — систематические сбои в его работе, которые приводят к неправильным выводам из имеющейся информации. А ещё бывают ситуации, когда нашим мнением осознанно манипулируют.
          div
            | Когнитивные искажения есть у всех. Их не может не быть — так устроены люди. Эволюция не успевает за развитием человеческой культуры. Те механизмы, которые помогали замечать опасность и реагировать на неё, теперь обманывают нас в повседневной жизни. Когнитивных искажений нельзя избежать. Всё, что мы можем сделать — научиться их замечать и корректировать свои решения, чтобы меньше от них страдать.
          div
            | Проверим, можно ли вас обмануть? Отвечайте на вопросы, вычисляйте махинации, распознавайте когнитивные искажения.
        .animation
          +intro()
        svg.edge(viewBox="0 0 441.5 127.7")
          path(d="m0 3.26c17.28-4.74 47.59-11.08 92.63 35.44s92.36 7 158.16 27.41 167.07 28.72 190.71 10.53v51.06h-441.5z")

      section.question(data-name="bullet")
        h1 Ложные интуитивные представления есть у каждого
        h2 Пуля-путешественница
        .content
          .task
            | Вы стреляете из старинного пистолета параллельно земле. Одновременно с выстрелом роняете вторую пулю с той же высоты. Какая пуля достигнет земли раньше?
          +pistol()
        .answers
          button пуля из пистолета
          button пуля, падающая свободно
          button.ok обе упадут одновременно
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!
          | Выстрел вытолкнул пулю в горизонтальном направлении. Если бы на неё не действовали другие силы, она бы летела вперёд бесконечно. Но пуля начинает снижаться, потому что на неё действует гравитация — она тянет снаряд к земле. На пулю, которую мы уронили, гравитация действует аналогично. Выстрел в горизонтальном направлении не даёт дополнительной подъемной силы, из-за которой пуля могла бы дольше продержаться в воздухе.

      +mask()

      section.question(data-name="core")
        h2 Морское ядро
        .content
          .task
            | Представьте, что вы забрались на мачту движущегося с постоянной скоростью корабля. В руках у вас пушечное ядро. Вы выпускаете его из рук. Куда оно упадёт: на палубу или за борт?
          +ship()
        .answers
          button.ok ядро упадет на палубу
          button корабль обгонит ядро, и оно упадет за борт
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!
          | Люди привыкли считать: чтобы сдвинуть предмет, нужно приложить к нему какую-то силу. В примере легко забыть, что хоть ядро неподвижно относительно нас, оно движется со скоростью корабля относительно берега. Мы отпускаем ядро — и оно продолжает двигаться вперёд с той же скоростью. Поскольку корабль движется равномерно, он не сможет уплыть из-под падающего ядра.

      +rain()

      section.question.black(data-name="earth")
        h2 К центру Земли
        .content
          .task
            | Перед вами колодец, пронизывающий Землю насквозь, а вы держите над ним уже знакомое пушечное ядро. Что произойдёт с ядром, когда вы выпустите его из рук?
        .answers
          button Вылетит с другой стороны и улетит в космос
          button Зависнет в центре Земли
          button.ok Будет летать в колодце туда-сюда: на другую сторону Земли и обратно
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!
          p
            | Люди представляют, что гравитация тянет предметы вниз. Это упрощенное бытовое представление. На самом деле, любые объекты, обладающие массой, притягиваются друг к другу. Чем больше масса объекта, тем больше сила притяжения.
          p
            | Разница между самой низкой точкой земной поверхности и самой высокой точкой — 20 километров. А радиус Земли, в среднем, 6350 км. Разница в силе притяжения настолько мала, что её обычно не учитывают. Но если мы бросаем ядро сквозь центр Земли, изменением силы притяжения пренебрегать нельзя.
          p
            | Ядро падает  в колодец, потому что вся масса Земли расположена под ним. Чем глубже ядро будет падать, тем слабее будет сила притяжения — потому что часть массы окажется «сверху», и будет тянуть уже в обратном направлении. В центре Земли ядро окажется в невесомости, потому что земная масса будет тянуть ядро во все стороны равномерно.
          p
            | Но одновременно с уменьшением гравитации будет, расти скорость: пока ядро падало к центру Земли, на него действовало ускорение свободного падения. В центре планеты скорость достигнет максимума. Когда ядро преодолеет центр, ускорение свободного падения будет направлено в противоположную сторону: гравитация станет замедлять падение.
          p
            | Ядро будет терять скорость, пока не вылетит из колодца на обратной стороне Земли. Там его скорость достигнет нуля, и оно упадет обратно в колодец. Таким образом, ядро будет летать туда-сюда, пока трение воздуха не заставит его остановиться в центре Земли.

      +falling()

      section(style="background: yellow;")
        | TODO
        br
        br
        | Люди познают мир постепенно — они наблюдают явления вокруг и рисуют картину мира, чтобы эффективно с ним взаимодействовать. Бывает, что теоретические знания противоречат нашим наблюдениям или выводам.

      section.question(data-name="luna")
        h1 Мы не знаем, чего не знаем
        h2 Фазы Луны
        .content
          .task
            | Почему сменяются фазы Луны?
        .answers
          button Луну закрывает тень Земли
          button.ok Это тень самой Луны, которую Солнце освещает только с одной стороны
          button Это тень малоизвестного второго спутника Земли, который находится позади Солнца
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!

      section.question(data-name="year")
        h2 Времена года
        .content
          .task
            | Почему сменяются времена года?
        .answers
          button.ok Ось вращения Земли расположена не перпендикулярно орбите вокруг Солнца, поэтому к Солнцу ближе то Северное полушарие, то Южное
          button Орбита Земли приближается к Солнцу и отдаляется от него
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!

      section(style="background: yellow;")
        | TODO
        br
        br
        | Говоря о когнитивных искажениях, часто упоминают эффект Даннинга—Крюгера

      section(style="background: yellow;")
        h1 Единичный опыт мы обобщаем в общее правило
        h2 Подбрось монетку

      section(style="background: yellow;")
        | TODO
        br
        br
        | Нашему мозгу хватает 2-3 событий, чтобы вывести закономерность. Проблема в том, что такое количество событий не является статистически значимым — их недостаточно, чтобы делать выводы. Если бы люди судили о вероятности выпадения монетки по трем броскам, они никогда не были бы правы.

      section.question(data-name="pint")
        h1 Намеренные манипуляции
        h2 Пинта пива
        .content
          .task
            | Это стандартный барный стакан объемом в 1 пинту — 0,47 литра. Высота стакана — 14,9 см, диаметр дна — 6 см, диаметр верхней части — 8,2 см. Бармен налил пиво только на высоту 12,7 см. Сколько пива он сэкономил?
        .answers
          button 5%
          button 10%
          button 15%
          button 20%
          button.ok 25%
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!
          | Стакан имеет форму усечённого конуса. Сужение стакана кажется незначительным, однако в верхней, широкой, части пива помещается значительно больше, чем в узкой. Если не долить до края стакана всего один дюйм — 2,2 см, — бармен сэкономит четверть пинты.
