include /partials/intro
include /partials/mask
include /partials/ship
include /partials/pistol
include /partials/earth
include /partials/rain
include /partials/falling
include /partials/illusions

html
  head
    title Delusions
    meta(name="title" content="Delusions")
    meta(name="description" content="Interactive story on delusions and biases for Intuition Park")
    link(rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon")
    link(rel="icon" href="../assets/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="../styles/style.css")

    script(src="../scripts/start.js")
    script(src="../scripts/intro.js")
    script(src="../scripts/question.js")
    script(src="../scripts/rain.js")
    script(src="../scripts/illusions.js")
    script(src="../scripts/bikes.js")
    script(src="../scripts/coin.js")

  body
    main
      section.start
        .header.fixed
          .logo
            | И<span>с</span>ка<br/>&nbsp;ж<span>е</span><br/>н<span>и</span>я
          .year 2020
        svg
          ellipse(cx="50%" cy="50%" rx="250" ry="25")
        .anchor

      section.text.intro
        .content
          div
            | Мы привыкли считать, что принимаем решения, исходя из своих убеждений, выводов, желаний, настроения. Но зачастую не знаем, как формируются убеждения, откуда берутся  выводы, почему возникают желания, из-за чего меняется настроение.
          div
            | За мышление и принятие решений отвечает мозг. Это удивительный механизм, но не безупречный. Есть ситуации, когда наш собственный мозг нас обманывает. Это когнитивные искажения — систематические сбои в его работе, которые приводят к неправильным выводам из имеющейся информации. А ещё бывают ситуации, когда нашим мнением осознанно манипулируют.
          div
            | Когнитивные искажения есть у всех. Их не может не быть — так устроены люди. Эволюция не успевает за развитием человеческой культуры. Те механизмы, которые помогали замечать опасность и реагировать на неё, теперь обманывают нас в повседневной жизни. Когнитивных искажений нельзя избежать. Всё, что мы можем сделать — научиться их замечать и корректировать свои решения, чтобы меньше от них страдать.
          div
            | Проверим, можно ли вас обмануть? Отвечайте на вопросы, вычисляйте махинации, распознавайте когнитивные искажения.
        .animation
          +intro()
        svg.edge(viewBox="0 0 441.5 127.7")
          path(d="m0 3.26c17.28-4.74 47.59-11.08 92.63 35.44s92.36 7 158.16 27.41 167.07 28.72 190.71 10.53v51.06h-441.5z")

      section.question(data-name="bullet")
        h1 Ложные представления есть у каждого
        .content
          .task
            | Вы стреляете из старинного пистолета параллельно земле. Одновременно с выстрелом роняете вторую пулю с той же высоты. Какая пуля достигнет земли раньше?
          +pistol()
        .answers
          button Пуля из пистолета
          button Пуля, падающая свободно
          button.ok Обе упадут одновременно
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!
          .column
            | Выстрел вытолкнул пулю в горизонтальном направлении. Если бы на неё не действовали другие силы, она бы летела вперёд бесконечно. Но пуля начинает снижаться, потому что на неё действует гравитация — она тянет снаряд к земле.
          .column
            | На пулю, которую мы уронили, гравитация действует аналогично. Выстрел в горизонтальном направлении не даёт дополнительной подъемной силы, из-за которой пуля могла бы дольше продержаться в воздухе.

      +mask()

      section.question(data-name="core")
        h2 Морское ядро
        .content
          .task
            | Представьте, что вы забрались на мачту движущегося с постоянной скоростью корабля. В руках у вас пушечное ядро. Вы выпускаете его из рук. Куда оно упадёт: на палубу или за борт?
          +ship()
        .answers
          button.ok Ядро упадет на палубу
          button Корабль обгонит ядро, и оно упадет за борт
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!
          .column
            | Люди привыкли считать: чтобы сдвинуть предмет, нужно приложить к нему какую-то силу. В примере легко забыть, что хоть ядро неподвижно относительно нас, оно движется со скоростью корабля относительно берега.
          .column
            | Мы отпускаем ядро — и оно продолжает двигаться вперёд с той же скоростью. Поскольку корабль движется равномерно, он не сможет уплыть из-под падающего ядра.

      +rain()

      section.question.black(data-name="earth")
        h2 К центру Земли
        .content
          .task
            | Перед вами колодец, пронизывающий Землю насквозь, а вы держите над ним уже знакомое пушечное ядро. Что произойдёт с ядром, когда вы выпустите его из рук?
          +earth()
        .answers
          button Вылетит с другой стороны и улетит
          button Зависнет в центре Земли
          button.ok Будет летать в колодце туда-сюда
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!
          .column
            p
              | Люди представляют, что гравитация тянет предметы вниз. Это упрощенное бытовое представление. На самом деле, любые объекты, обладающие массой, притягиваются друг к другу. Чем больше масса объекта, тем больше сила притяжения.
            p
              | Разница между самой низкой точкой земной поверхности и самой высокой точкой — 20 километров. А радиус Земли, в среднем, 6350 км. Разница в силе притяжения настолько мала, что её обычно не учитывают. Но если мы бросаем ядро сквозь центр Земли, изменением силы притяжения пренебрегать нельзя.
            p
              | Ядро падает  в колодец, потому что вся масса Земли расположена под ним. Чем глубже ядро будет падать, тем слабее будет сила притяжения — потому что часть массы окажется «сверху», и будет тянуть уже в обратном направлении. В центре Земли ядро окажется в невесомости, потому что земная масса будет тянуть ядро во все стороны равномерно.
          .column
            p
              | Но одновременно с уменьшением гравитации будет, расти скорость: пока ядро падало к центру Земли, на него действовало ускорение свободного падения. В центре планеты скорость достигнет максимума. Когда ядро преодолеет центр, ускорение свободного падения будет направлено в противоположную сторону: гравитация станет замедлять падение.
            p
              | Ядро будет терять скорость, пока не вылетит из колодца на обратной стороне Земли. Там его скорость достигнет нуля, и оно упадет обратно в колодец. Таким образом, ядро будет летать туда-сюда, пока трение воздуха не заставит его остановиться в центре Земли.

      +falling()

      section.text.illusions
        .content
          div
            | Люди познают мир постепенно — они наблюдают явления вокруг и рисуют картину мира, чтобы эффективно с ним взаимодействовать. Бывает, что теоретические знания противоречат нашим наблюдениям или выводам.
          div
            | Например, к шести годам большинству детей уже рассказали, что Земля круглая. При этом их собственный опыт говорит, что они живут на плоской поверхности. Пытаясь объединить интуитивные представления с информацией от взрослых, дети изобретают собственные теории.
          div
            | Бывает, что дети разделяют понятие земли, по которой они ходят, и Земли как планеты. Они смотрят в ночное небо, пытаясь разглядеть планету Земля.
          div
            | В зрелом возрасте этот механизм построения теорий никуда не девается. Люди точно так же получают информацию и вписывают её в свою картину мира. Опасность в том, что, как и у детей с круглой Землей, их неточные интуитивные представления заставляют строить ошибочные теории и делать неверные выводы.
          div
            | Даже эксперты не лишены ненаучных представлений о своей области. Они рассуждают точнее лишь потому, что научились подавлять ложные убеждения. В <a href="https://www.sciencedirect.com/science/article/abs/pii/S2211949315000058">исследованиях</a> экспертов просили решать несложные задачки на выявление интуитивных заблуждений. Они отвечали правильно, но приборы регистрировали активность участков мозга, которые отвечают за отслеживание и подавление конфликта.
          div
           | Противоречие интуитивных и академических знаний встречается не только в рассуждениях о физических явлениях. Мы судим о других людях, о явлениях, событиях и новостях, не разделяя реальные данные и ложные теории. Так, например, мы объясняем поведение других людей их личными качествами, а своё собственное оправдываем внешними обстоятельствами. Такова <a href="https://ru.wikipedia.org/wiki/%D0%A4%D1%83%D0%BD%D0%B4%D0%B0%D0%BC%D0%B5%D0%BD%D1%82%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D0%BE%D1%88%D0%B8%D0%B1%D0%BA%D0%B0_%D0%B0%D1%82%D1%80%D0%B8%D0%B1%D1%83%D1%86%D0%B8%D0%B8">фундаментальная ошибка атрибуции</a>.
          div
            | От ложных интуитивных представлений нельзя полностью избавиться, но можно научиться проверять источник своих суждений: «Что я знаю об этом и почему считаю, что я это знаю?»
        .animation
          +illusions()
        svg.edge(viewBox="0 0 441.5 127.7")
          path(d="m0 3.26c17.28-4.74 47.59-11.08 92.63 35.44s92.36 7 158.16 27.41 167.07 28.72 190.71 10.53v51.06h-441.5z")

      section.question(data-name="luna")
        h1 Мы не знаем, чего не знаем
        .content
          .task
            | Почему сменяются фазы Луны?
        .answers
          button Луну закрывает тень Земли
          button.ok Солнце освещает Луну только с одной стороны
          button На Луну падает тень второго спутника Земли, находящегося позади Солнца
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!

      section.question(data-name="year")
        h2 Времена года
        .content
          .task
            | Почему сменяются времена года?
        .answers
          button.ok Ось вращения Земли расположена не перпендикулярно её орбите, и к Солнцу ближе то Северное полушарие, то Южное
          button Орбита Земли то приближается к Солнцу, то отдаляется от него
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!

      svg.edge.reversed.relative(viewBox="0 0 441.5 127.7")
        path(d="m0 3.26c17.28-4.74 47.59-11.08 92.63 35.44s92.36 7 158.16 27.41 167.07 28.72 190.71 10.53v51.06h-441.5z")

      section.text.bikes
        .content
          div
            | Говоря о когнитивных искажениях, часто упоминают <a href="https://ru.wikipedia.org/wiki/%D0%AD%D1%84%D1%84%D0%B5%D0%BA%D1%82_%D0%94%D0%B0%D0%BD%D0%BD%D0%B8%D0%BD%D0%B3%D0%B0_%E2%80%94_%D0%9A%D1%80%D1%8E%D0%B3%D0%B5%D1%80%D0%B0">эффект Даннинга—Крюгера</a>: искажение, при котором у дилетантов не хватает знаний, чтобы оценить нехватку знаний. Если проще: когда проблема кажется чрезвычайно простой, скорее всего, недостаточно знаний в области этой проблемы. Этот принцип относится ко всем — специалист в одной области не будет разбираться в другой.
          div
            | Это значит, что существует два вида отсутствия информации:
            br
            | — области знаний, в которых люди осознают свою некомпетентность, например, они понимают, что не разбираются в квантовой механике или генной инженерии;
            br
            | — слепые зоны: области знаний, в которых люди некомпетентны и не осознают этого, например, если внезапно предложить нарисовать велосипед, немногие смогут изобразить достаточно подробно.
          div
            | Люди не разделяют свои представления о мире и реальное устройство мира. Они редко говорят: «Я считаю, что небо синее», обычно они говорят: «Небо синее». Требуется осознанное мысленное усилие, чтобы обнаружить собственную слепую зону.
            br
            | У каждого существуют слепые зоны — нехватка знаний, о которой они не подозревают. Это следует учитывать при формировании мнения: когда проблема кажется простой, нужно разобраться в ней поглубже.
        .animation
          svg.bikes(viewBox="0 0 300 300")
            image.image-1(x="90" y="110" width="120" xlink:href="../assets/bikes/01.png")
            image.image-2(x="90" y="110" width="120" xlink:href="../assets/bikes/02.png")
            image.image-3(x="90" y="110" width="120" xlink:href="../assets/bikes/03.png")
            image.image-4(x="90" y="110" width="120" xlink:href="../assets/bikes/04.png")

      section.coin
        h1 Единичный опыт мы считаем закономерностью
        .task
          | Монета запрограммирована падать случайно орлом или решкой с вероятностью 50%. Как вы думаете, сколько потребуется бросков, чтобы количество выпавших орлов и решек сравнялось?
        .action
          .animation
            img.eagle(src="../assets/coin/eagle.png")
            img.tails(src="../assets/coin/tails.png")
          .stats
            button Подбросить монетку
            .result &nbsp;
            .count Количество бросков: <span>0</span>
            .eagle Доля выпадений орла: <span>0%</span>
            .tails Доля выпадений решки: <span>0%</span>

      section.text
        .content
          div
            | Нашему мозгу хватает 2-3 событий, чтобы вывести закономерность. Проблема в том, что такое количество событий не является статистически значимым — их недостаточно, чтобы делать выводы. Если бы люди судили о вероятности выпадения монетки по трем броскам, они никогда не были бы правы.
          div
            | Расхождение между нашими наблюдениями и статистикой часто ведет к потере доверия: «Минздрав предупреждает о вреде курения, а мой дед всю жизнь курил и до ста лет прожил». Примера с одним родственником недостаточно, чтобы опровергнуть научные данные о болезни, но люди придают им больший вес.
          div
            | В примере с дедом участвует еще одно когнитивное искажение: ошибка выжившего. Миф о том, что дельфины спасают выпавших за борт моряков, родился из рассказов этих моряков. Никто не услышит рассказов тех, кого дельфины унесли дальше от берега и бросили посреди океана. Люди делают выводы, основываясь на имеющихся данных — рассказах выживших, историях успеха, клиентов, которые совершили заказ. При этом игнорируют вторую половину данных — погибших, разорившихся, отказавшихся от заказа.
          div
            | Существует целый список когнитивных искажений, связанных с неумением человеческого мозга обрабатывать большие массивы данных и работать со статистикой. Они объясняют множество популярных заблуждений:
            br
            | — Генерализация частных случаев: безосновательный перенос характеристик частных или даже единичных случаев на обширные их совокупности. Существует множество видов этого когнитивного искажения, классический вариант — теория заговора.
            br
            | — Иллюзия частотности — недавно узнанная информация, появляющаяся вновь спустя непродолжительный период времени, воспринимается как необычайно часто повторяющаяся.
            br
            | — Отклонение в сторону результата — тенденция судить о решениях по их окончательным результатам, вместо того чтобы оценивать качество решений по обстоятельствам того момента времени, когда они были приняты («победителей не судят»).
          div
            | Люди склонны считать статистику ошибочной, потому что наш механизм мышления приспособлен делать поспешные выводы. Доверять таким выводам следует с осторожностью.
        .animation
          svg
        svg.edge(viewBox="0 0 490 75")
          path(d="M0,49.15 C16.84,35.96 41.06,42.66 66,40.15 C85.92,38.15 97.6,31.59 123.7,26.7 C187.6,14.7 230.84,49.89 298.44,48.97 C391.79,47.64 499,0 499,0 L498.2,64.89 L0,64.89 L0,49.15 Z")

      section.question(data-name="pint")
        h1 Намеренные манипуляции
        .content
          .task
            | Это стандартный барный стакан объемом в 1 пинту — 0,47 литра. Высота стакана — 14,9 см, диаметр дна — 6 см, диаметр верхней части — 8,2 см. Бармен налил пиво только на высоту 12,7 см. Сколько пива он сэкономил?
        .answers
          button 5%
          button 10%
          button 15%
          button 20%
          button.ok 25%
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!
          | Стакан имеет форму усечённого конуса. Сужение стакана кажется незначительным, однако в верхней, широкой, части пива помещается значительно больше, чем в узкой. Если не долить до края стакана всего один дюйм — 2,2 см, — бармен сэкономит четверть пинты.

      svg.edge.reversed.relative(viewBox="0 0 490 75")
          path(d="M0,49.15 C16.84,35.96 41.06,42.66 66,40.15 C85.92,38.15 97.6,31.59 123.7,26.7 C187.6,14.7 230.84,49.89 298.44,48.97 C391.79,47.64 499,0 499,0 L498.2,64.89 L0,64.89 L0,49.15 Z")

      section.text.center
        .content
          | Когнитивные искажения — это не единственное, что заставляет нас ошибаться. Существуют и внешние причины.
          br
          br
          | Самый очевидный — фальсификация данных и визуальная манипуляция. Людям показывают заведомо ложные данные. Эта ложь может быть скрыта лучше или хуже, в зависимости от старательности махинатора. Форма стакана с пивом маскирует недолив, график в новостях представляет правдивые данные в неверном свете, заголовок статьи не соответствует содержанию, в качестве доказательства приводится поддельное исследование или результаты исследования искажаются.
          br
          br
          | Даже ленивая подделка информации обманывает множество людей.

      footer
        .content
          .logo
            | И<span>с</span>ка<br/>ж<span>е</span><br/>н<span>и</span>я
          img.park(src="../assets/park.svg")
          .authors
            div Наталия Степанова
            div Владимир Тупикин
            div Никита Ларионов
            div Дарья Колесникова
        svg(viewBox="0 0 469.31 46.8")
          path(d="M469.31,0c-32.2,10.42-66.62,27.55-124.6,27.83-43,.21-93-9.49-142.95-9.49S20.24,22.14,10.12,13.91,0,27.83,0,27.83v19l469.3 10Z" fill="white")
