include /partials/intro

html
  head
    title Delusions
    meta(name="title" content="Delusions")
    meta(name="description" content="Interactive story on delusions and biases for Intuition Park")
    link(rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon")
    link(rel="icon" href="../assets/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="../styles/style.css")

    script(src="../scripts/start.js")
    script(src="../scripts/intro.js")
    script(src="../scripts/question.js")

  body
    main
      section.start
        .header.fixed
          .logo
            | И<span>с</span>ка<br/>&nbsp;ж<span>е</span><br/>н<span>и</span>я
          .year 2020
        svg
          ellipse(cx="50%" cy="50%" rx="250" ry="25")
        .anchor

      section.intro
        .content
          div
            | Мы привыкли считать, что принимаем решения, исходя из своих убеждений, выводов, желаний, настроения. Но зачастую не знаем, как формируются убеждения, откуда берутся  выводы, почему возникают желания, из-за чего меняется настроение.
          div
            | За мышление и принятие решений отвечает мозг. Это удивительный механизм, но не безупречный. Есть ситуации, когда наш собственный мозг нас обманывает. Это когнитивные искажения — систематические сбои в его работе, которые приводят к неправильным выводам из имеющейся информации. А ещё бывают ситуации, когда нашим мнением осознанно манипулируют.
          div
            | Когнитивные искажения есть у всех. Их не может не быть — так устроены люди. Эволюция не успевает за развитием человеческой культуры. Те механизмы, которые помогали замечать опасность и реагировать на неё, теперь обманывают нас в повседневной жизни. Когнитивных искажений нельзя избежать. Всё, что мы можем сделать — научиться их замечать и корректировать свои решения, чтобы меньше от них страдать.
          div
            | Проверим, можно ли вас обмануть? Отвечайте на вопросы, вычисляйте махинации, распознавайте когнитивные искажения.
        +intro()

      section.question(data-name="bullet")
        h2 Пуля-путешественница
        .task
          | Вы стреляете из старинного пистолета параллельно земле. Одновременно с выстрелом роняете вторую пулю с той же высоты. Какая пуля достигнет земли раньше?
        .answers
          button пуля из пистолета
          button пуля, падающая свободно
          button.ok обе упадут одновременно
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!
          | Выстрел вытолкнул пулю в горизонтальном направлении. Если бы на неё не действовали другие силы, она бы летела вперёд бесконечно. Но пуля начинает снижаться, потому что на неё действует гравитация — она тянет снаряд к земле. На пулю, которую мы уронили, гравитация действует аналогично. Выстрел в горизонтальном направлении не даёт дополнительной подъемной силы, из-за которой пуля могла бы дольше продержаться в воздухе.

      section.question(data-name="core")
        h2 Морское ядро
        .task
          | Представьте, что вы забрались на мачту движущегося с постоянной скоростью корабля. В руках у вас пушечное ядро. Вы выпускаете его из рук. Куда оно упадёт: на палубу или за борт?
        .answers
          button.ok ядро упадет на палубу
          button корабль обгонит ядро, и оно упадет за борт
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!
          | Люди привыкли считать: чтобы сдвинуть предмет, нужно приложить к нему какую-то силу. В примере легко забыть, что хоть ядро неподвижно относительно нас, оно движется со скоростью корабля относительно берега. Мы отпускаем ядро — и оно продолжает двигаться вперёд с той же скоростью. Поскольку корабль движется равномерно, он не сможет уплыть из-под падающего ядра.

