include /partials/logo
include /partials/intro
include /partials/mask
include /partials/ship
include /partials/pistol
include /partials/earth
include /partials/rain
include /partials/falling
include /partials/illusions
include /partials/regularity

html
  head
    title Искажения&nbsp;— ищем у&nbsp;себя ошибки мышления
    meta(name="title" content="Искажения&nbsp;— ищем у&nbsp;себя ошибки мышления")
    meta(name="description" content="Interactive story on delusions and biases for Intuition Park")

    meta(name="host" content="https://bias.slaylines.io")
    meta(name="site" content="Bias")
    meta(name="title" content="Искажения&nbsp;— ищем у&nbsp;себя ошибки мышления")
    meta(name="description" content="Когнитивные искажения есть у&nbsp;каждого, они заставляют неправильно воспринимать новую информацию и&nbsp;делать ошибочные выводы. Проверьте, легко ли&nbsp;вас обмануть.")
    meta(name="url" content="https://bias.slaylines.io")

    meta(property="og:type" content="website")
    meta(property="og:site_name" content="Искажения&nbsp;— ищем у&nbsp;себя ошибки мышления")
    meta(property="og:title" content="Искажения&nbsp;— ищем у&nbsp;себя ошибки мышления")
    meta(property="og:description" content="Когнитивные искажения есть у&nbsp;каждого, они заставляют неправильно воспринимать новую информацию и&nbsp;делать ошибочные выводы. Проверьте, легко ли&nbsp;вас обмануть.")
    meta(property="og:url" content="https://bias.slaylines.io")

    meta(property="og:image" content="https://bias.slaylines.io/cover.png")
    meta(property="og:image:type" content="image/png")
    meta(property="og:image:width" constent="2400")
    meta(property="og:image:height" constent="1260")
    meta(property="og:image:alt" constent="Искажения")

    meta(name="twitter:card" content="summary")
    meta(name="twitter:title" constent="Искажения&nbsp;— ищем у&nbsp;себя ошибки мышления")
    meta(name="twitter:description" constent="Когнитивные искажения есть у&nbsp;каждого, они заставляют неправильно воспринимать новую информацию и&nbsp;делать ошибочные выводы. Проверьте, легко ли&nbsp;вас обмануть.")
    meta(name="twitter:image" content="https://bias.slaylines.io/cover.png")
    meta(name="twitter:url" constent="https://bias.slaylines.io")

    link(rel="shortcut icon" href="https://bias.slaylines.io/favicon.png" type="image/x-icon")
    link(rel="icon" href="https://bias.slaylines.io/favicon.png" type="image/x-icon")
    link(rel="stylesheet" href="../styles/style.css")

    link(rel="stylesheet" href="https://unpkg.com/ilyabirman-likely@2/release/likely.min.css")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet")

    script(src="../scripts/start.js")
    script(src="../scripts/intro.js")
    script(src="../scripts/question.js")
    script(src="../scripts/rain.js")
    script(src="../scripts/illusions.js")
    script(src="../scripts/bikes.js")
    script(src="../scripts/coin.js")
    script(src="../scripts/regularity.js")

    script(src="https://unpkg.com/ilyabirman-likely@2/release/likely.min.js")

    //- Google Analytics
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-139151211-3")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-139151211-3');

    //- Hotjar
    script.
      ((function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1339450,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv='))

  body
    main
      section.start
        .header.fixed
          .logo
            +logo()
          .year 2020
        svg.ellipse
          ellipse(cx="50%" cy="50%" rx="250" ry="25")
        .anchor

      section.text.intro
        .content
          div
            | Мы&nbsp;привыкли считать, что принимаем решения, исходя из&nbsp;своих убеждений, выводов, желаний, настроения. Но&nbsp;зачастую не&nbsp;знаем, как формируются убеждения, откуда берутся выводы, почему возникают желания, из-за чего меняется настроение.
          div
            | Мозг отвечает за&nbsp;мышление и&nbsp;принятие решений. Это удивительный механизм, но&nbsp;не&nbsp;безупречный. Есть ситуации, когда наш собственный мозг нас обманывает. Это когнитивные искажения&nbsp;&mdash; ошибки мышления, которые регулярно повторяются у&nbsp;всех людей и&nbsp;приводят к&nbsp;неправильным выводам из&nbsp;имеющейся информации. А&nbsp;ещё бывает, что люди формируют выводы, исходя из&nbsp;недостоверных или намеренно сфальсифицированных данных&nbsp;&mdash; и&nbsp;тоже заблуждаются.
          div
            | <strong>Когнитивные искажения есть у&nbsp;всех.</strong> Их&nbsp;не&nbsp;может не&nbsp;быть&nbsp;&mdash; так устроены люди. Механизмы мозга, которые раньше помогали замечать опасность и&nbsp;реагировать на&nbsp;неё, теперь обманывают нас в&nbsp;повседневной жизни. <strong>Когнитивных искажений нельзя избежать.</strong> Всё, что мы&nbsp;можем сделать&nbsp;&mdash; научиться их&nbsp;замечать и&nbsp;корректировать решения, чтобы меньше от&nbsp;них страдать.
          div
            | Проверим, можно&nbsp;ли вас обмануть? Отвечайте на&nbsp;вопросы, вычисляйте махинации, распознавайте когнитивные искажения.
        .animation
          +intro()
        svg.edge(viewBox="0 0 441.5 127.7")
          path(d="m0 3.26c17.28-4.74 47.59-11.08 92.63 35.44s92.36 7 158.16 27.41 167.07 28.72 190.71 10.53v51.06h-441.5z")

      section.question(data-name="bullet")
        h1 Ложные представления есть у&nbsp;каждого
        .content
          .task
            | Вы&nbsp;стреляете из&nbsp;старинного пистолета параллельно земле. Одновременно с&nbsp;выстрелом роняете вторую пулю с&nbsp;той&nbsp;же высоты. Какая пуля достигнет земли раньше?
          +pistol()
        .answers
          button Пуля из&nbsp;пистолета
          button Пуля, падающая свободно
          button.ok Обе упадут одновременно
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!
          .column
            | Пули упадут одновременно. Выстрел вытолкнул пулю в&nbsp;горизонтальном направлении&nbsp;&mdash; в&nbsp;горизонтальной проекции на&nbsp;одну пулю действует сила, а&nbsp;на&nbsp;другую нет. Но&nbsp;в&nbsp;вертикальной проекции, если смотреть в&nbsp;сторону выстрела, на&nbsp;обе пули действует одна и&nbsp;та&nbsp;же сила&nbsp;&mdash; гравитация.
          .column
            | Выстрел в&nbsp;горизонтальном направлении не&nbsp;даёт дополнительной подъемной силы, из-за которой пуля могла&nbsp;бы дольше продержаться в&nbsp;воздухе.

      +mask()

      section.question(data-name="core")
        h2 Морское ядро
        .content
          .task
            | Представьте, что вы&nbsp;забрались на&nbsp;мачту движущегося с&nbsp;постоянной скоростью корабля. В&nbsp;руках у&nbsp;вас пушечное ядро. Вы&nbsp;выпускаете его из&nbsp;рук. Куда оно упадёт: на&nbsp;палубу или за&nbsp;борт?
          +ship()
        .answers
          button.ok Ядро упадет на&nbsp;палубу
          button Корабль обгонит ядро, и&nbsp;оно упадет за&nbsp;борт
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!
          .column
            | Ядро упадет на&nbsp;палубу. Люди привыкли считать: чтобы сдвинуть предмет, нужно приложить к&nbsp;нему какую-то силу. В&nbsp;примере легко забыть, что хоть ядро неподвижно относительно нас, оно движется со&nbsp;скоростью корабля относительно берега.
          .column
            | Мы&nbsp;отпускаем ядро&nbsp;&mdash; и&nbsp;оно продолжает двигаться вперёд с&nbsp;той&nbsp;же скоростью. Поскольку корабль движется равномерно, он&nbsp;не&nbsp;сможет уплыть из-под падающего ядра.

      +rain()

      section.question.black(data-name="earth")
        h2 К&nbsp;центру Земли
        .content
          .task
            | Перед вами колодец, пронизывающий Землю насквозь, а&nbsp;вы&nbsp;держите над ним уже знакомое пушечное ядро. Что произойдёт с&nbsp;ядром, когда вы&nbsp;выпустите его из&nbsp;рук?
          +earth()
        .answers
          button Вылетит с&nbsp;другой стороны и&nbsp;улетит
          button Долетит до&nbsp;центра Земли и&nbsp;остановится
          button.ok Будет летать в&nbsp;колодце туда-сюда
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!
          .column
            p
              | Ядро будет будет летать в&nbsp;колодце туда-сюда: на&nbsp;другую сторону Земли и&nbsp;обратно.
            p
              | Люди представляют, что гравитация тянет предметы вниз. Это упрощенное представление. На&nbsp;самом деле, любые объекты, обладающие массой, притягиваются друг к&nbsp;другу. Чем больше масса объекта, тем больше сила притяжения.
            p
              | Обычно разницу в&nbsp;силе притяжения не&nbsp;учитывают, потому что перепад высот в&nbsp;разных точках Земли так мал, что погрешность незначительна. Но&nbsp;если мы&nbsp;бросаем ядро сквозь центр Земли, изменением силы притяжения пренебрегать нельзя.
            p
              | Ядро падает в&nbsp;колодец, потому что вся масса Земли расположена под ним. Чем глубже ядро будет падать, тем слабее будет сила притяжения&nbsp;&mdash; потому что часть массы окажется &laquo;сверху&raquo;, и&nbsp;будет тянуть уже в&nbsp;обратном направлении. В&nbsp;центре Земли ядро окажется в&nbsp;невесомости, потому что земная масса будет тянуть ядро во&nbsp;все стороны равномерно.
          .column
            p
              | Но, падая к&nbsp;центру планеты, ядро будет разгоняться, ведь на&nbsp;него продолжало действовать ускорение свободного падения. В&nbsp;центре планеты скорость достигнет максимума. Когда ядро преодолеет центр, ускорение свободного падения будет направлено в&nbsp;противоположную сторону: гравитация станет замедлять падение.
            p
              | Ядро будет терять скорость, пока не&nbsp;вылетит из&nbsp;колодца на&nbsp;обратной стороне Земли. Там его скорость достигнет нуля, и&nbsp;оно упадет обратно в&nbsp;колодец. Таким образом, ядро будет летать туда-сюда.

      +falling()

      section.text.illusions.inverse
        .content
          div
            | Люди познают мир постепенно&nbsp;&mdash; они наблюдают явления вокруг и&nbsp;рисуют картину мира, чтобы эффективно с&nbsp;ним взаимодействовать. Бывает, что <strong>теоретические знания противоречат нашим наблюдениям или выводам.</strong>
            br
            br
            | Люди всю жизнь видят падающие предметы&nbsp;и, казалось&nbsp;бы, каждый должен уметь предсказывать их&nbsp;траектории. Но&nbsp;в&nbsp;некоторых случаях интуитивные и&nbsp;упрощенные представления приводят к&nbsp;ошибочным выводам. И&nbsp;если люди из-за этого ошибаются в&nbsp;простых задачках о&nbsp;движении, то&nbsp;и&nbsp;в&nbsp;других вопросах интуитивные представления не&nbsp;могут служить надежным источником.
          div
            | Например, к&nbsp;шести годам большинству детей уже рассказали, что Земля круглая. При этом их&nbsp;собственный опыт говорит, что они живут на&nbsp;плоской поверхности. Пытаясь объединить интуитивные представления с&nbsp;информацией от&nbsp;взрослых, дети изобретают собственные теории.
            br
            br
            | Бывает, что дети разделяют понятие земли, по&nbsp;которой они ходят, и&nbsp;Земли как планеты. Они смотрят в&nbsp;ночное небо, пытаясь разглядеть планету Земля.
          div
            | В&nbsp;зрелом возрасте этот механизм построения теорий никуда не&nbsp;девается. Люди точно так&nbsp;же получают информацию и&nbsp;вписывают её&nbsp;в&nbsp;свою картину мира. Опасность в&nbsp;том, что, как и&nbsp;у&nbsp;детей с&nbsp;круглой Землей, их&nbsp;неточные интуитивные представления заставляют строить ошибочные теории и&nbsp;делать неверные выводы.
          div
            | Даже эксперты не&nbsp;лишены ненаучных представлений о&nbsp;своей области. Они рассуждают точнее лишь потому, что научились подавлять ложные убеждения. В&nbsp;<a href="https://www.sciencedirect.com/science/article/abs/pii/S2211949315000058">исследованиях</a> экспертов просили решать несложные задачки на&nbsp;выявление интуитивных заблуждений. Они отвечали правильно, но&nbsp;приборы регистрировали активность участков мозга, которые отвечают за&nbsp;отслеживание и&nbsp;подавление конфликта.
          div
           | Противоречие интуитивных и&nbsp;академических знаний встречается не&nbsp;только в&nbsp;рассуждениях о&nbsp;физических явлениях. <strong>Люди не&nbsp;разделяют свои представления о&nbsp;мире и&nbsp;реальное устройство мира.</strong> Они редко говорят: &laquo;Я&nbsp;считаю, что небо синее&raquo;, обычно они говорят: &laquo;Небо синее&raquo;.
          div.quote
            | От&nbsp;ложных интуитивных представлений нельзя полностью избавиться, но&nbsp;можно научиться проверять источник своих суждений: &laquo;Что я&nbsp;знаю об&nbsp;этом и&nbsp;почему считаю, что я&nbsp;это знаю?&raquo;
        .animation
          +illusions()

      svg.edge.relative(viewBox="0 0 441.5 127.7" style="margin-top: -6em")
        path(d="m0 3.26c17.28-4.74 47.59-11.08 92.63 35.44s92.36 7 158.16 27.41 167.07 28.72 190.71 10.53v51.06h-441.5z")

      section.question(data-name="luna")
        h1 Мы не&nbsp;знаем, чего не&nbsp;знаем
        .content
          .task
            | Почему сменяются фазы Луны?
          svg.moon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 87.33 87.1")
            image(width="743" height="741" transform="scale(0.115)" xlink:href="../assets/moon.png")
        .answers
          button Луну закрывает тень Земли
          button.ok Солнце освещает Луну только с&nbsp;одной стороны
          button На&nbsp;Луну падает тень второго спутника Земли
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!
          .column
            p Это тень самой Луны, которую Солнце освещает только с&nbsp;одной стороны.
            p Смена фаз объясняется вращением Луны вокруг Земли. Луна всегда освещена Солнцем наполовину. Но, так как Луна вращается вокруг Земли, в&nbsp;разное время мы&nbsp;видим то&nbsp;больший, то&nbsp;меньший участок освещённого полушария.
          .column
            p Мы&nbsp;видим ночью освещённую Луну точно так&nbsp;же, как во&nbsp;время заката видим освещённую верхушку многоэтажки, когда её&nbsp;первые этажи уже в&nbsp;тени. Разница в&nbsp;том, что Луна выше верхушки многоэтажки, и&nbsp;тень Земли её&nbsp;закрывает только изредка, во&nbsp;время затмений.
          .iframe
            iframe(src="https://www.youtube.com/embed/LHD4Pk0D8_g" frameborder="0")

      section.question(data-name="year")
        h2 Времена года
        .content
          .task
            | Почему сменяются времена года?
          svg.seasons(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100")
            image(width="100" height="100" xlink:href="../assets/seasons.svg")
        .answers
          button.ok Ось вращения Земли расположена не&nbsp;перпендикулярно её&nbsp;орбите, и&nbsp;к&nbsp;Солнцу ближе то&nbsp;Северное полушарие, то&nbsp;Южное
          button Орбита Земли то&nbsp;приближается к&nbsp;Солнцу, то&nbsp;отдаляется от&nbsp;него
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!
          .column
            p Ось вращения Земли расположена не&nbsp;перпендикулярно орбите вокруг Солнца, поэтому к&nbsp;Солнцу ближе то&nbsp;Северное полушарие, то&nbsp;Южное.
          img(src="../assets/system.svg")

      svg.edge.reversed.relative(viewBox="0 0 441.5 127.7")
        path(d="m0 3.26c17.28-4.74 47.59-11.08 92.63 35.44s92.36 7 158.16 27.41 167.07 28.72 190.71 10.53v51.06h-441.5z")

      section.text.bikes
        .content
          div
            | Говоря о&nbsp;когнитивных искажениях, часто упоминают <a href="https://ru.wikipedia.org/wiki/%D0%AD%D1%84%D1%84%D0%B5%D0%BA%D1%82_%D0%94%D0%B0%D0%BD%D0%BD%D0%B8%D0%BD%D0%B3%D0%B0_%E2%80%94_%D0%9A%D1%80%D1%8E%D0%B3%D0%B5%D1%80%D0%B0">эффект Даннинга&mdash;Крюгера</a>: искажение, при котором у&nbsp;дилетантов не&nbsp;хватает знаний, чтобы оценить нехватку знаний. Если проще: <strong>когда проблема кажется чрезвычайно простой, скорее всего, недостаточно знаний в&nbsp;области этой проблемы.</strong> Этот принцип относится ко&nbsp;всем&nbsp;&mdash; специалист в&nbsp;одной области не&nbsp;будет разбираться в&nbsp;другой. Требуется осознанное мысленное усилие, чтобы обнаружить собственную слепую зону.
          div
            | Это значит, что существует два вида отсутствия информации:
            br
            | &mdash;&nbsp;области знаний, в&nbsp;которых люди осознают свою некомпетентность, например, они понимают, что не&nbsp;разбираются в&nbsp;квантовой механике или генной инженерии;
            br
            | &mdash;&nbsp;слепые зоны: области знаний, в&nbsp;которых люди некомпетентны и&nbsp;не&nbsp;осознают этого, например, если внезапно предложить нарисовать велосипед, немногие смогут изобразить достаточно подробно.
          div.quote
            | У&nbsp;каждого существуют слепые зоны&nbsp;&mdash; нехватка знаний, о&nbsp;которой они не&nbsp;подозревают. Это следует учитывать при формировании мнения: когда проблема кажется простой, нужно разобраться в&nbsp;ней поглубже.
        .animation
          svg.bikes(viewBox="0 0 300 300")
            image.noise(x="50" y="50" width="200" xlink:href="../assets/white-noise.png")
            image.image-1(x="90" y="110" width="120" xlink:href="../assets/bikes/01.png")
            image.image-2(x="90" y="110" width="120" xlink:href="../assets/bikes/02.png")
            image.image-3(x="90" y="110" width="120" xlink:href="../assets/bikes/03.png")
            image.image-4(x="90" y="110" width="120" xlink:href="../assets/bikes/04.png")
            image.pigeon(x="50" y="50" width="200" xlink:href="../assets/pigeon.svg")

      section.coin
        h1 Единичный опыт мы&nbsp;считаем закономерностью
        .task
          | Монета запрограммирована падать случайно орлом или решкой с&nbsp;вероятностью 50%. Как вы&nbsp;думаете, сколько потребуется бросков, чтобы количество выпавших орлов и&nbsp;решек сравнялось?
        .action
          .animation
            img.eagle(src="../assets/coin/eagle.png")
            img.tails(src="../assets/coin/tails.png")
          .stats
            button Подбросить монетку
            .result
              .eagle
                span 0
                | Орёл
              .tails
                span 0
                | Решка
            .count &nbsp;

      section.text.inverse.regularity
        .content
          div
            | <strong>Нашему мозгу хватает 2-3&nbsp;событий, чтобы вывести закономерность. Проблема в&nbsp;том, что такое количество событий не&nbsp;является статистически значимым</strong>&nbsp;&mdash; их&nbsp;недостаточно, чтобы делать выводы. Если&nbsp;бы люди судили о&nbsp;вероятности выпадения монетки по&nbsp;трем броскам, они никогда не&nbsp;были&nbsp;бы правы.
            br
            br
            | Расхождение между нашими наблюдениями и&nbsp;статистикой часто ведет к&nbsp;потере доверия: &laquo;Минздрав предупреждает о&nbsp;вреде курения, а&nbsp;мой дед всю жизнь курил и&nbsp;до&nbsp;ста лет прожил&raquo;. Примера с&nbsp;одним родственником недостаточно, чтобы опровергнуть научные данные о&nbsp;болезни, но&nbsp;люди придают им&nbsp;больший вес.
          div
            | В&nbsp;примере с&nbsp;дедом участвует еще одно когнитивное искажение: ошибка выжившего. Миф о&nbsp;том, что дельфины спасают выпавших за&nbsp;борт моряков, родился из&nbsp;рассказов этих моряков. Никто не&nbsp;услышит рассказов тех, кого дельфины унесли дальше от&nbsp;берега и&nbsp;бросили посреди океана. Люди делают выводы, основываясь на&nbsp;имеющихся данных&nbsp;&mdash; рассказах выживших, историях успеха, клиентов, которые совершили заказ. При этом игнорируют вторую половину данных&nbsp;&mdash; погибших, разорившихся, отказавшихся от&nbsp;заказа.
          div
            | Существует целый список когнитивных искажений, связанных с&nbsp;неумением человеческого мозга обрабатывать большие массивы данных и&nbsp;работать со&nbsp;статистикой. Они объясняют множество популярных заблуждений:
          div
            | &mdash;&nbsp;<strong>Генерализация частных случаев</strong>: безосновательный перенос характеристик частных или даже единичных случаев на&nbsp;обширные их&nbsp;совокупности. Существует множество видов этого когнитивного искажения, классический вариант&nbsp;&mdash; теория заговора.
          div
            | &mdash;&nbsp;<strong>Иллюзия частотности</strong>&nbsp;&mdash; недавно узнанная информация, появляющаяся вновь спустя непродолжительный период времени, воспринимается как необычайно часто повторяющаяся.
          div
            | &mdash;&nbsp;<strong>Отклонение в&nbsp;сторону результата</strong>&nbsp;&mdash; тенденция судить о&nbsp;решениях по&nbsp;их&nbsp;окончательным результатам, вместо того чтобы оценивать качество решений по&nbsp;обстоятельствам того момента времени, когда они были приняты (&laquo;победителей не&nbsp;судят&raquo;).
            br
            br
            br
            br
            div.quote
              | Люди склонны считать статистику ошибочной, потому что наш механизм мышления приспособлен делать поспешные выводы. Доверять таким выводам следует с&nbsp;осторожностью.
        .animation
          +regularity()
        svg.edge(viewBox="0 0 490 75")
          path(d="M0,49.15 C16.84,35.96 41.06,42.66 66,40.15 C85.92,38.15 97.6,31.59 123.7,26.7 C187.6,14.7 230.84,49.89 298.44,48.97 C391.79,47.64 499,0 499,0 L498.2,64.89 L0,64.89 L0,49.15 Z")

      section.question(data-name="pint")
        h1 Нашим мнением манипулируют намеренно
        .content
          .task
            | Это стандартный барный стакан объемом в&nbsp;1&nbsp;пинту&nbsp;&mdash; 0,47&nbsp;литра. Высота стакана&nbsp;&mdash; 14,6&nbsp;см, диаметр дна&nbsp;&mdash; 5,7&nbsp;см, диаметр верхней части&nbsp;&mdash; 8,4&nbsp;см. Бармен налил пиво только на&nbsp;высоту 11,6&nbsp;см. Сколько пива он&nbsp;сэкономил?
          svg.seasons(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100")
            image(width="100" height="100" xlink:href="../assets/beer.jpg")
        .answers
          button 5%
          button 10%
          button 15%
          button 20%
          button.ok 25%
        .hint.hidden
          .result.wrong.hidden не-а
          .result.right.hidden правильно!
          .column
            | Стакан имеет форму усечённого конуса. Сужение стакана кажется незначительным, однако в&nbsp;верхней, широкой, части пива помещается значительно больше, чем в&nbsp;узкой.
          .column
            | Если не&nbsp;долить до&nbsp;края стакана всего один дюйм&nbsp;&mdash; 2,5&nbsp;см,&nbsp;&mdash; бармен сэкономит четверть пинты.
          img(src="../assets/glasses.jpg")

      svg.edge.reversed.relative(viewBox="0 0 490 75")
          path(d="M0,49.15 C16.84,35.96 41.06,42.66 66,40.15 C85.92,38.15 97.6,31.59 123.7,26.7 C187.6,14.7 230.84,49.89 298.44,48.97 C391.79,47.64 499,0 499,0 L498.2,64.89 L0,64.89 L0,49.15 Z")

      section.text.center
        .content
          | Когнитивные искажения&nbsp;&mdash; это не&nbsp;единственное, что заставляет нас ошибаться. Существуют и&nbsp;внешние причины.
          br
          br
          | Самый очевидный&nbsp;&mdash; фальсификация данных и&nbsp;визуальная манипуляция. Людям показывают заведомо ложные данные. Эта ложь может быть скрыта лучше или хуже, в&nbsp;зависимости от&nbsp;старательности махинатора. Форма стакана с&nbsp;пивом маскирует недолив, график в&nbsp;новостях представляет правдивые данные в&nbsp;неверном свете, заголовок статьи не&nbsp;соответствует содержанию, в&nbsp;качестве доказательства приводится поддельное исследование или результаты исследования искажаются.
          br
          br
          br
          br
          | <strong>Как бороться с&nbsp;когнитивными искажениями</strong>
          br
          br
          | — проверяйте источник своих убеждений: «Что я&nbsp;знаю об&nbsp;этом и&nbsp;почему считаю, что я&nbsp;это знаю?»;
          br
          br
          | — помните о&nbsp;существовании слепых зон в&nbsp;своих знаниях: «когда проблема кажется простой, нужно разобраться в&nbsp;ней поглубже»;
          br
          br
          | — планируйте, опираясь на&nbsp;статистику и&nbsp;данные: они могут противоречить личному опыту и&nbsp;впечатлениям, но&nbsp;значительно точнее предсказывают исход событий;
          br
          br
          | — критически относитесь к&nbsp;новой информации: проверяйте источник и&nbsp;оригинал сообщения, ищите данные об&nbsp;этом на&nbsp;независимых ресурсах, изучите критику.
          br
          img(src="../assets/conclusion.svg")

      footer
        .content
          .logo
            +logo()
          a.park(href="https://intuition.team/park")
            img(src="../assets/park.svg")
          .authors
            a(href="https://gnykka.io") Наталия Степанова
            br
            a(href="https://midnightsky.ru") Владимир Тупикин
            br
            a(href="http://vonoiral.com") Никита Ларионов
            br
            a(href="http://kolesnikova.gallery") Дарья Колесникова
        svg(viewBox="0 0 469.31 46.8")
          path(d="M469.31,0c-32.2,10.42-66.62,27.55-124.6,27.83-43,.21-93-9.49-142.95-9.49S20.24,22.14,10.12,13.91,0,27.83,0,27.83v19l469.3 10Z" fill="white")

      .likely.likely-big
        .facebook
        .twitter
        .vkontakte
        .telegram
