mixin earth()
  svg.earth(viewBox="0 0 222 222" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
    clipPath(id="clip")
      circle(fill="#FFFFFF" cx="111" cy="111" r="90")

    image(clip-path="url(#clip)" width="222" height="222" xlink:href="../assets/earth.png")

    line(x1="21" y1="201" x2="201" y2="21" stroke="#000000" stroke-width="28")
    circle.dot(fill="#FFFFFF" cx="111" cy="111" r="7")
      animate(attributeName="opacity" values="0;1;0" dur="1.5s" repeatCount="indefinite" begin="indefinite")
