mixin illusions()
  svg.illusions(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 189.6 215.57")
    defs
      clipPath(id="a")
        ellipse(class="a" cx="93.87" cy="102.1" rx="66.2" ry="30.24" transform="translate(-4.14 3.97) rotate(-2.37)")
      path(id="ellipse-route" d="M13.299999999999997,107.78a81.5,107.53 0 1,0 163,0a81.5,107.53 0 1,0 -163,0")

    g.child-1
      image(width="140" height="140" style="transform: translate(20px, 50px)" xlink:href="../assets/child/01.svg")

    g.child-2
      image(width="140" height="140" style="transform: translate(20px, 50px)" xlink:href="../assets/child/02.svg")

    g.child-3
      image(width="140" height="100" style="transform: translate(20px, 50px)" xlink:href="../assets/child/03.svg")

    g.child-4
      image(width="140" height="135" style="transform: translate(20px, 15px)" xlink:href="../assets/child/04.svg")

    g.head
      g
        path(class="b" d="M159.53,96.27c1,2.53.49,8.74.16,11.45-5.37,43.51-16.2,58.57-24.62,66.9-11.2,11.06-20.23,16.57-33.41,25.17a33.69,33.69,0,0,1-9.2,4.67c-3.39.92-7,.8-10.47.67-2.53-.09-5.35-.31-7.06-2.18a12.78,12.78,0,0,1-1.9-3.48,19.52,19.52,0,0,0-7.24-8.29,4.82,4.82,0,0,1-2.15-2c-.41-1,0-2.19-.26-3.26-.69-2.82-4.81-2.59-7.26-4.15-3-1.91-3-6.18-2.82-9.72.38-6.73,0-14.44-5.18-18.79-2.54-2.16-5.91-3.14-8.5-5.24-3.85-3.1-5.47-8.15-6.68-12.94a225,225,0,0,1-5.44-31.92l9.61-.29S158.72,95.9,159.53,96.27Z")
        path(class="b" d="M43.16,152.1a30,30,0,0,1,.67,4.21c.9,5.88,4.69,10.85,8.36,15.54a13.28,13.28,0,0,0,4.31,4.07A50.58,50.58,0,0,0,58,162.84a15.83,15.83,0,0,0-1.32-7A16.52,16.52,0,0,0,52.41,151c-2.62-2.22-6.19-5-9.75-5.26C36.87,145.21,42.31,149.24,43.16,152.1Z")
        path(class="c" d="M43.86,149.63c4.59,1.61,6.24,3.15,7.74,5.7a17.58,17.58,0,0,1,2,8.55c.07,3,0,4.57-.09,6.32")
        path(class="c" d="M69.5,162c1.72-.25,3-2.28,4.71-1.88a4.32,4.32,0,0,1,1.87,1.37c3.61,3.54,9.42,4,14.19,2.37s8.67-5.16,12.14-8.83")
        path(class="c" d="M65.06,158.22c2.45-2.46,6.15-3.12,9.61-3.35,6.2-.41,12.41.15,18.62.07s12.56-.85,18.07-3.71")
        path(class="d" d="M143.31,135.36a18.17,18.17,0,0,1,8.82-7.75c1.73-.68,3.87.38,4.94,1.89,1.23,1.74,1,4.09.57,6.18a38.68,38.68,0,0,1-4,12.21,17.53,17.53,0,0,1-9.58,8.22,5.47,5.47,0,0,0-2.16.95,5.2,5.2,0,0,0-1.21,3.16,22.71,22.71,0,0,1-7.9,13.65")
        ellipse(class="e" cx="93.87" cy="102.1" rx="66.2" ry="30.24" transform="translate(-4.14 3.97) rotate(-2.37)")
      path(class="a" d="M160,101.07c2.36-28.16-15.79-56.8-42.25-66.67s-58.91-.1-75.53,22.73a74.14,74.14,0,0,0-9.9,19.16C28.24,88,26.74,94.35,27.92,106.65")
      path(class="f" d="M158,113.56c16-38.86-10.1-75.82-38.47-86.66s-63.17-.12-81,25a82.21,82.21,0,0,0-10.61,21C23.49,85.73,23.54,103.69,31,121.3")
      path(class="a" d="M39.16,86.87C15.58,90.33.25,95.94.25,102.26c0,10.52,42.33,19,94.55,19s94.55-8.52,94.55-19c0-6.07-13.49-11.53-35.47-15")
      g
        g(clip-path="url(#a)")
          circle(class="b" cx="94.8" cy="79.85" r="36.95")
          circle(class="h" cx="94.8" cy="79.85" r="16.42")
        ellipse(class="a" cx="93.87" cy="102.1" rx="66.2" ry="30.24" transform="translate(-4.14 3.97) rotate(-2.37)")
      circle(class="a" cx="49.02" cy="38.81" r="5.92")
      circle(class="a" cx="149.51" cy="50.67" r="4.26")
      circle(class="a" cx="94.8" cy="79.85" r="36.95")
      path(class="c" d="M73.39,159.87A19.91,19.91,0,0,1,87.12,155")
      ellipse(class="a" cx="94.8" cy="107.78" rx="81.5" ry="107.53")
      circle(class="b" cx="0" cy="0" r="3.58")
        animateMotion(dur="5s" repeatCount="indefinite")
          mpath(xlink:href="#ellipse-route")

    g.bull(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
      g(transform="translate(18.000000, 40.000000)")
        g(transform="translate(49.000000, 32.000000)")
          g(fill="#FFFFFF" fill-rule="nonzero")
            path(d="M63.65,22.26 C64.34,21.74 65.03,21.26 65.71,20.67")
            path(d="M66.79,22.36 C65.3,20.83 64.36,19.8 65.71,20.67 C67.4,21.76 63.92,14 63.49,11.9 C62.14,5.32 72.09,0.24 75.38,0.44 C80.75,0.76 87.23,7.52 88.78,14.49 C89.46,17.56 86.34,25.55 82.14,29.36 C79.81,31.48 77.45,29.74 74.25,27.77 C73.15,27.08 73.77,35.52 72.72,36.29 C72.0478032,36.917897 71.4686337,37.6384916 71,38.43 C67.89,42.43 65.46,41.31 62.65,45.56 C61.6745877,47.2953388 61.0941207,49.224538 60.95,51.21 C59.95,57.73 54.83,65.73 56.71,72.05 C57.57,74.94 59.01,77.66 59.5,80.63 C60.14,84.52 59.2,88.9 61.5,92.13 C62.38,93.39 63.66,94.32 64.62,95.52 C65.58,96.72 66.18,95.86 65.44,97.21 C60.79,94.47 55.12,96.06 49.82,97.08 C48.93,97.24 47.82,97.39 47.31,96.66 C46.8,95.93 47.38,94.77 48.2,94.29 C49.02,93.81 50.01,93.69 50.82,93.18 C52.34,92.18 52.82,90.18 52.43,88.38 C51.9503785,86.6322583 51.2514923,84.9522435 50.35,83.38 C49.0275773,80.5578357 48.2959376,77.495158 48.2,74.38 C48.2617008,72.7079123 48.1645989,71.0337423 47.91,69.38 C47.4043539,67.6205094 46.6608192,65.9383041 45.7,64.38 C41.9082474,57.2431421 40.0208218,49.2491371 40.22,41.17 C40.1030504,39.3558806 40.5501543,37.5499999 41.5,36 C42.5716024,34.8246308 43.9039495,33.9169907 45.39,33.35 C51.8241261,30.2426339 57.9397582,26.5149787 63.65,22.22")
            path(d="M65.71,20.67 C56.34,19.98 47.51,20.61 39.77,25.93 C36.15,28.41 32.04,31.26 29.58,34.93 C27.38,38.18 24.77,41.59 23.07,45.13 C21.7840202,47.8021518 20.1717243,50.3045694 18.27,52.58 C17,54.17 16,56.89 15,58.71 C12.549329,63.0157705 12.7945023,68.3473161 15.63,72.41 C18.1110231,76.0568572 21.1478065,79.2927187 24.63,82 C28.51,84.94 28.43,83 31.21,86.86 C24.68,82.37 20.03,84.75 11.9,82.93 C8.9,82.25 6.36,78.1 3.14,77.1 C2.81,77 1.14,78.37 0.87,78.51 C0.25,78.77 0.87,80.92 1.04,81.58 C1.94666667,86.46 3.05333333,91.3033333 4.36,96.11 C4.54,96.79 4.91,97.61 5.62,97.61 C6.33,97.61 13.48,96.45 13.87,95.73 C14.26,95.01 11.87,93.4 10.74,91.73 C9.33,89.66 9.07,88.95 9.95,89.16 C11.52,89.55 17.2,94.06 18.55,94.96 C26.76,100.45 34.44,103.96 44,101.4 C45.3587652,101.193587 46.5883765,100.478697 47.44,99.4 C48.24,98.08 47.87,96.4 47.44,94.9 C45.07,86.9 39.98,76.26 42.86,77.99 C51.15,82.99 59.86,96.38 67.59,96.99 C68.85,97.09 78.83,97.46 76.75,92.92 C71.02,80.45 63.85,70.18 52.95,61.84 C52.4295646,61.5017737 51.9920566,61.0505936 51.67,60.52 C51.4840931,60.0738245 51.3954559,59.5931381 51.41,59.11 C51.3198242,54.4232169 53.4568082,49.9711667 57.17,47.11 C59.78,45.11 62.98,44.11 65.92,42.64 C68.86,41.17 71.75,39.07 72.79,35.95 C73.83,32.83 72.79,29.67 71.05,27.14 C69.7148627,25.4674264 68.2753253,23.8809293 66.74,22.39")
            path(d="M69.28,40.59 C69.45,42.33 72.97,47.36 74.48,49.25 C75.6428633,50.8891127 76.4625942,52.7462623 76.89,54.71 C78.7892013,61.5879237 79.8601193,68.6680681 80.08,75.8 C74.8123604,69.9219517 70.3160708,63.3959469 66.7,56.38 C65.5226879,54.4541249 64.8646255,52.2559897 64.79,50 C64.696516,47.7822606 64.257918,45.5926448 63.49,43.51 L69.28,40.59 Z")
            path(d="M93.05,78.54 C93.36,79.1 92.56,79.63 91.92,79.72 C88.92,80.14 86.04,79.03 83.15,78.26 C81.85,77.92 80.38,77.67 79.24,78.38 C78.4636161,79.0247816 77.7893105,79.7833753 77.24,80.63 C76.57,81.39 75.45,81.98 74.59,81.46 C74.8323346,80.5103096 75.2756485,79.6236819 75.89,78.86 C77.1905119,76.6481714 77.2398187,73.9173346 76.02,71.66 C75.7454616,71.2479821 75.5363213,70.7959691 75.4,70.32 C75.265392,69.8297165 75.4687076,69.3092286 75.9,69.04 C76.1311243,68.9460784 76.3821321,68.9116937 76.63,68.94 C80.63,68.94 81.18,71.78 84.08,74.18 C85.3742969,75.2501623 86.7908385,76.1631939 88.3,76.9 C89,77.24 92.77,78.05 93.05,78.54 Z")
          path(d="M71.43,21.53 C69.43,22.31 67.43,20.48 66.43,18.53 C66.1292957,18.0570788 66.0490061,17.476804 66.21,16.94 C66.57,16.15 67.8,16.17 68.44,16.75" stroke="#000000" stroke-width="0.57")
          path(d="M75.55,20.26 C76.74,22.19 78.55,23.04 80.38,21.36" stroke="#000000" stroke-width="0.57")
          path(d="M70.76,21.57 C71.0750581,22.370221 71.1783864,23.2381785 71.06,24.09 C71.06,24.94 71.69,25.96 72.54,25.8" stroke="#000000" stroke-width="0.57")
          path(d="M55.86,64.4 C55.86,66.14 56.71,67.75 57.21,69.4 C58.52,73.78 57.52,78.46 57.29,83.03 C57.06,87.6 57.97,92.79 61.76,95.34" stroke="#000000" stroke-width="0.57")
          path(d="M69.27,24.55 C69.1528488,26.0610861 69.5783238,27.5644311 70.47,28.79 C71.3592116,29.9990375 72.1516693,31.2763322 72.84,32.61 C73.5248228,33.972018 73.4682801,35.5891395 72.69,36.9" stroke="#000000" stroke-width="0.57")
          path(d="M47.55,58.75 C46.28,63.37 47.03,68.3 48.24,72.93 C49.45,77.56 51.1,82.11 51.67,86.86 L51.67,85.97" stroke="#000000" stroke-width="0.57")
          path(d="M48.22,54 C48.92,48.88 51.16,44 50.99,38.81 C50.99,38.16 50.67,37.29 49.99,37.37 C50.2848951,37.17555 50.6491559,37.1172683 50.99,37.21" stroke="#000000" stroke-width="0.57")
        path(d="M92.28,56.57 C88.2,49.71 91.28,39.64 98.47,36.22 C100.62,35.22 103.08,34.69 104.84,33.09 C107.23,30.91 107.7,27.39 109.06,24.46 C112.46,17.16 121.52,14.04 129.54,14.73 C137.34,15.4 145.03,19.17 149.54,25.56 C154.05,31.95 155.04,40.97 151.11,47.75 C149.11,51.27 145.81,54.22 144.95,58.19 C144.48,60.35 144.78,62.59 144.64,64.79 C144.301468,70.2086964 141.352977,75.1256547 136.732518,77.9766607 C132.112059,80.8276667 126.394967,81.2577165 121.4,79.13" stroke="#FFFFFF" stroke-width="0.38")
        g
          path(d="M30,6.64 C32.19,6.37 34.6,6.45 36.37,7.77 C38.87,9.64 39.2,13.24 38.89,16.35 C38.58,19.46 37.89,22.72 39.08,25.6 C41.08,30.41 47.13,31.72 51.52,34.53 C55.91,37.34 58.9,42.05 61.67,46.53 L75.51,69.03 C77.31,71.95 79.19,75.34 78.27,78.65 C77.35,81.96 73.66,84.28 73.08,87.76 C72.44,91.59 75.77,94.94 76.34,98.76 C76.5066395,99.5480647 76.389775,100.369658 76.01,101.08 C75.3862771,101.844009 74.4968651,102.34408 73.52,102.48 C67.07,104.05 59.81,102.67 54.06,105.98 C52.9838197,106.750575 51.8428847,107.426436 50.65,108 C48.48,108.76 43.52,110 41.97,108.31 C42.7,105.13 48.27,101.26 51.39,100.31 C54.51,99.36 57.86,98.98 60.66,97.31 C61.2059239,97.0116219 61.6486891,96.5549113 61.93,96 C62.167158,95.3544248 62.167158,94.6455752 61.93,94 C60.8011993,90.6101395 57.7348432,88.2392455 54.17,88 L53.74,93 C53.7450795,93.3979144 53.6224049,93.7869681 53.39,94.11 C53.0876317,94.373027 52.7007589,94.5185479 52.3,94.52 C48.47,94.88 44.66,92.72 40.89,93.44 C38.61,93.88 36.66,95.31 34.49,96.14 C32.32,96.97 29.49,97.02 28.08,95.14 C31.198504,89.2598751 37.9197778,86.257981 44.38,87.86 C45.12,88.06 46,88.3 46.59,87.86 C47.49,87.12 46.78,85.67 46.03,84.77 L43.86,82.2 C43.225339,81.2862877 42.3864917,80.5330371 41.41,80 C40.3921195,79.4782254 39.1488994,79.7268694 38.41,80.6 C37.87,81.38 38.02,82.48 37.54,83.29 C36.9097657,84.0653295 36.0532893,84.6246611 35.09,84.89 C31.1996351,86.6463469 28.5690757,90.3758445 28.22,94.63 C28.2642241,95.4909493 28.0850939,96.3487075 27.7,97.12 C27.3045074,97.6174257 26.7975093,98.0148025 26.22,98.28 L20.07,101.73 C18.24,100.53 18.7,97.73 19.59,95.73 C20.8324099,92.9261502 22.4874027,90.3240026 24.5,88.01 C26.21,86.01 28.25,84.15 28.89,81.62 C29.17,80.49 29.16,79.29 29.55,78.19 C30.55,75.42 33.98,73.75 34.16,70.81 C31.6698316,68.9789511 29.6537433,66.578846 28.28,63.81 C26.06,65.36 22.94,63.81 21.28,61.67 C19.62,59.53 18.43,57 16.19,55.5 C14.5310438,54.4903587 12.5272064,54.2152809 10.6575475,54.74053 C8.78788848,55.265779 7.22046403,56.5441422 6.33,58.27 C5.93,59.17 5.74,60.16 5.33,61.04 C4.31663008,63.0343061 2.23532705,64.2565347 -4.37358483e-16,64.17 C0.572498494,61.0982176 1.42608805,58.0855486 2.55,55.17 C2.9240136,53.9936195 3.54831788,52.9121744 4.38,52 C5.1252351,51.3581995 5.96513834,50.8353682 6.87,50.45 L13.01,47.45 C13.4207812,47.1966079 13.8977154,47.0712821 14.38,47.09 C15.0016574,47.2695688 15.5377557,47.6672046 15.89,48.21 C17.4436715,49.9914437 19.3921447,51.3851671 21.58,52.28 C21.7990516,49.498033 21.5488995,46.6990342 20.84,44 C22.22,43.13 23.44,41.7 23.34,40.08 C23.24,38.46 21.2,37.08 19.91,38.08 C19.36,38.51 19.09,39.24 18.49,39.61 C16.71,40.71 14.91,37.68 12.82,37.71 C12.3094695,37.8093863 11.7866857,37.8296231 11.27,37.77 C10.5211183,37.4562248 10.101223,36.6542248 10.27,35.86 C10.4481757,35.0974461 10.7167424,34.3588877 11.07,33.66 C12.54,29.76 9.9,25.11 11.63,21.32 C12.15,20.18 13.02,19.24 13.57,18.11 C14.2335964,17.0110618 14.1664085,15.6198754 13.4,14.59 C12.8058577,14.126833 12.1578058,13.7373303 11.47,13.43 C10.5847192,12.7808277 10.0313759,11.7737805 9.9580959,10.6784372 C9.8848159,9.58309402 10.2990826,8.51131231 11.09,7.75 C12.59,6.48 14.87,6.62 16.5,5.52 C18.2611352,4.26450805 18.7879766,1.88076665 17.72,-9.37028233e-16 C18.8559156,0.139176749 19.8407839,0.851895063 20.3280703,1.88737868 C20.8153567,2.9228623 20.7367845,4.13602321 20.12,5.1 C18.24,7.5 16.36,10.52 21.2,9.1 C24.18,8.23 26.86,7 30,6.64 Z" fill="#FFFFFF" fill-rule="nonzero")
          path(d="M48.34,32.43 C49.3335814,32.6356626 50.367883,32.483351 51.26,32 C52.45,31.24 52.83,29.7 53.01,28.29 C53.4263736,24.9178093 53.2435628,21.4985703 52.47,18.19 C52.2166586,17.3928101 52.124868,16.5530959 52.2,15.72 C52.6370161,14.1808445 54.0024545,13.0884937 55.6,13 C57.1747941,12.9299909 58.7403559,13.2748283 60.14,14 C72.53,19.69 79.91,32.68 84.14,45.63 C88.37,58.58 90.46,72.3 96.3,84.63 C94.07,84.06 92.47,82.17 91.09,80.33 C85.89,73.39 81.68,65.77 77.5,58.18 C76.9493888,59.6232071 76.5016036,61.1035716 76.16,62.61 C72.4298497,57.8364548 69.7481815,52.3300053 68.29,46.45 C67.8258054,47.059624 67.5417321,47.7871288 67.47,48.55 C64.2412721,47.0400665 61.5661926,44.557313 59.82,41.45 C59.9,43.33 59.75,45.62 58.08,46.45 C56.41,47.28 54.39,46.03 53.23,44.54 C52.07,43.05 51.23,41.21 49.53,40.34 C49.31,42.02 47.11,42.82 45.53,42.23 C43.95,41.64 42.85,40.23 41.86,38.81 C40.7252414,37.3953378 39.9037943,35.7558522 39.45,34 C38.05,26.64 45.26,32 48.34,32.43 Z" fill="#FFFFFF" fill-rule="nonzero")
          path(d="M24.74,27.13 C24.3489628,28.0594783 23.4487094,28.6728133 22.4406042,28.6965588 C21.432499,28.7203043 20.5043662,28.1500362 20.07,27.24 C21.786337,26.6538233 23.6219829,26.5060092 25.41,26.81" stroke="#000000" stroke-width="0.45")
          path(d="M28.5,21.82 C28.9898906,22.0316527 29.5464272,22.0263365 30.0321853,21.8053642 C30.5179434,21.5843919 30.8876448,21.1683606 31.05,20.66 C31.3264483,19.6227606 31.2272707,18.5211811 30.77,17.55 C30.3035196,16.5864234 30.0155326,15.546282 29.92,14.48 C29.9697037,12.5555368 31.4613616,10.977656 33.38,10.82 C33.75,11.36 32.93,11.9 32.6,12.46 C31.95,13.52 33.11,14.7 33.84,15.7 C34.6640737,16.9583521 35.1307004,18.4169927 35.19,19.92 C35.4031795,21.2007481 35.2326918,22.515939 34.7,23.7 C34.1250061,24.9046318 32.7909509,25.5488018 31.49,25.25" stroke="#000000" stroke-width="0.45")
          path(d="M33.84,26.24 L40.29,31.69 C37.0288352,32.1325515 33.7379423,31.1196878 31.29,28.92 C30.8927146,28.6119724 30.6051891,28.1841907 30.47,27.7 C30.4174523,27.4578753 30.4670436,27.2047971 30.607086,27.0004108 C30.7471285,26.7960245 30.9652342,26.6584099 31.21,26.62 C31.4686698,26.635458 31.7164211,26.7296733 31.92,26.89 C32.7054407,27.450437 33.3830176,28.1483412 33.92,28.95" stroke="#000000" stroke-width="0.45")
          path(d="M34.13,71.58 C35.0938274,70.2739238 35.4573593,68.6198535 35.13,67.03 C34.89,65.45 34.28,63.95 33.89,62.4 C33.0531922,59.0247774 33.2766629,55.4736894 34.53,52.23" stroke="#000000" stroke-width="0.45")
          path(d="M42.12,37.24 C42.2,39.14 43.71,40.67 45.3,41.72 C47.8281572,43.3815674 50.7496398,44.3473468 53.77,44.52" stroke="#000000" stroke-width="0.45")
          path(d="M50.32,37.21 C52.1895045,42.3769923 56.091872,46.5539708 61.12,48.77 C61.4,48.89 61.88,48.85 61.82,48.56" stroke="#000000" stroke-width="0.45")
        path(d="M94.72,44.42 C97.27,48.58 99.93,53.2 99.23,58.03 C93.2099946,53.3717015 88.4718523,47.2606334 85.46,40.27 L85.24,45.68 C85.38,42.26 72.39,35.96 70.49,35.41 C63.88,33.49 61.86,32.08 56.69,26.85 C52.83,22.94 39.69,13.46 44.34,6.85 C51,-2.58 67.89,10.64 73,15.42 C81.93,23.66 88.42,34.17 94.72,44.42 Z" stroke="#FFFFFF" stroke-width="0.37")

    g.masks
      g(style="transform: translate(20px, 50px)")
        <ellipse stroke-width="0.5px" stroke-miterlimit="10" stroke="#fff" fill="none" cx="74.42" cy="61.61" rx="75.17" ry="24.24" transform="translate(-9.5 13.75) rotate(-9.92)"/>
        <g>
          <path fill="#fff" d="M124,26.92c-3.26,2-7,0-10.77.59-13,1.94-26.79,2.49-38.37-3.82l-2.69-.12a62.37,62.37,0,0,1-31.46,9.75c-4.92.15-10-.35-14.3-2.82a14.36,14.36,0,0,1-6.06-6.87c-1.95,6.18-3.63,12.52-2.78,18.77.64,4.67,3.18,8.87,4.25,13.46,1.31,5.6.39,11.45.64,17.2.36,8.45,3.24,16.57,6.09,24.53,2.51,7,5,11.39,7.52,18.39a17.67,17.67,0,0,0,3.3,6.35c2,2.14,4.95,3.14,7.84,3.66,9.36,1.71,19.42-2.26,26.7-8.44v.94a32.86,32.86,0,0,0,27.13,7.5c2.89-.52,5.83-1.52,7.84-3.66a17.67,17.67,0,0,0,3.3-6.35c2.51-7,5-11.38,7.52-18.39,2.85-8,5.73-16.08,6.09-24.53.25-5.75-.67-11.6.64-17.2,1.07-4.59,3.61-8.79,4.25-13.46.81-6-1.51-12-3.71-17.91A16.1,16.1,0,0,1,124,26.92Z"/>
          <path stroke-width="1.04px" stroke-miterlimit="10" stroke="#fff" d="M127,24.49c.64-1-.83-1.92-1.61-2.77s-1.81-1.44-2.57-2.31a5.09,5.09,0,0,1-.3-6.12q-11,.06-22,.41c-.9-1.26.62-2.81,1.88-3.72s2.45-2.88,1.18-3.78a2.72,2.72,0,0,0-.87-.34Q90.64,2.77,78.32.56c-1.55-.28-4,1.05-5.54,1-10.19-.58-20.61.25-30.15,3.9S19.85,14.8,20.44,25c.44,7.63,21.8,12.34,21.8,12.34l32.18-7.65L125,31.49Z"/>
          <path fill="#fff" d="M73.92,118.61v-.12h0C73.92,118.75,73.92,119.08,73.92,118.61Z"/>
          <path fill="#fff" d="M73.91,118.48h0Z"/>
          <path stroke="#000" stroke-width="1.04px" stroke-miterlimit="10" fill="none" d="M36.26,64.55c-.55,5.36-2.16,10.55-3.73,15.71a13.42,13.42,0,0,0-.81,4.49,6.71,6.71,0,0,0,4.35,5.8"/>
          <path stroke="#000" stroke-width="1.04px" stroke-miterlimit="10" fill="none" d="M19.4,40.26c5.39.22,11.57,3.87,14.19,8.58"/>
          <path d="M22.29,49.44A15.21,15.21,0,0,1,23.85,54c.61,3.15-.51,3,1.7,5.24,2.75,2.78,5.42,3.54,7.06,2.88,1.32-.53,2-2,1.43-4.08C32.47,52,21.59,48,22.29,49.44Z"/>
          <path stroke="#000" stroke-width="1.04px" stroke-miterlimit="10" fill="none" d="M112,64.55c.55,5.36,2.16,10.55,3.73,15.71a13.42,13.42,0,0,1,.81,4.49,6.71,6.71,0,0,1-4.35,5.8"/>
          <path stroke="#000" stroke-width="1.04px" stroke-miterlimit="10" fill="none" d="M128.87,40.26c-5.39.22-11.57,5.36-14.19,10.08"/>
          <path stroke="#000" stroke-width="1.04px" stroke-miterlimit="10" fill="none" d="M89.41,56.11c-2.19-2.92-28.33-2.82-30.52.09-.81,1.08-3.22,4.11-2.86,5.67.42,1.82,3.71.49,5.36.92,4.13,1.09,21.36,1.09,25.49,0,1.65-.43,5.51.42,5.93-1.39C93.18,59.83,90.22,57.18,89.41,56.11Z"/>
          <path stroke="#000" stroke-width="1.04px" stroke-miterlimit="10" fill="none" d="M49.07,50.34a4.61,4.61,0,0,1,2-3.86,12.41,12.41,0,0,1,4.17-1.75c7.38-2,10.9-3,18.54-3.35"/>
          <path stroke="#000" stroke-width="1.04px" stroke-miterlimit="10" fill="none" d="M98.32,50.34a4.61,4.61,0,0,0-2-3.86,12.46,12.46,0,0,0-4.18-1.75c-7.38-2-10.63-3-18.28-3.35"/>
          <path stroke="#000" stroke-width="1.04px" stroke-miterlimit="10" fill="none" d="M52.61,106.29c-2.46.11-7.25-1.16-10.8-2.48a26.18,26.18,0,0,0-6.37-1.39,12.55,12.55,0,0,1-2-.39"/>
          <path stroke="#000" stroke-width="1.04px" stroke-miterlimit="10" fill="none" d="M96.63,107.69c3.37-1.61,7.25-2.56,10.8-3.88a26.15,26.15,0,0,1,6.38-1.39,13,13,0,0,0,2-.39"/>
          <path d="M126.22,49.44a15.52,15.52,0,0,0-1.56,4.6c-.61,3.15.52,3-1.7,5.24-2.74,2.78-5.42,3.54-7,2.88-1.33-.53-2-2-1.43-4.08C116.05,52,126.92,48,126.22,49.44Z"/>
          <path d="M89.41,56.11c-2.19-2.92-28.33-2.82-30.52.09-.81,1.08-3.22,4.11-2.86,5.67.42,1.82,3.71.49,5.36.92,4.13,1.09,21.36,1.09,25.49,0,1.65-.43,5.51.42,5.93-1.39C93.18,59.83,90.22,57.18,89.41,56.11Z"/>
          <path stroke="#000" stroke-width="1.04px" stroke-miterlimit="10" fill="none" d="M37.38,111c1.69-2.39,7.61,0,9.72,2"/>
          <path stroke="#000" stroke-width="1.04px" stroke-miterlimit="10" fill="none" d="M111.1,111c-1.7-2.39-7.61,0-9.73,2"/>
        </g>
        <circle fill="#fff" cx="9.9" cy="83.82" r="4.76"/>
        <circle fill="#fff" cx="139.77" cy="40.26" r="4.76"/>
      </g>

    g.masks-2
      g(style="transform: translate(40px, 50px)")
        <g style="opacity: 0.43">
          <path fill="#fff" d="M42.76,20.79c.08,10.3-4.95,20.79-1.76,30.59,2.25,6.88,8.14,11.91,11.5,18.32a8.38,8.38,0,0,1,1.24,4.56c-.27,3.23-3.46,5.38-4.71,8.37s-.52,6.17-1.59,9.06c-.57,1.54-1.6,2.87-2.3,4.35a21.47,21.47,0,0,0-1.51,6l-1.58,10.22c-.75,4.82-1.83,10.2-5.86,13-4.28,2.92-10.19,1.62-14.72-.89A39.35,39.35,0,0,1,5.41,106.47,62.13,62.13,0,0,1,0,82.85c-.23-4.77,2.09-27.53,4.81-33.58C11.71,34,35.17-3.83,37.67.68A45.11,45.11,0,0,1,42.76,20.79Z"/>
          <path d="M28.79,54.47c-1.28-.67-2.52-1.38-3.71-2.12a12.68,12.68,0,0,1-4.15-3.59c-.45-.72-.6-1.72.31-2.17a3.74,3.74,0,0,1,1.36-.26c2.81-.17,11.77-1.69,12.8.8,1.16,2.78-4.84,5.25-3,8A4.52,4.52,0,0,1,28.79,54.47Z"/>
          <path fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="1.04px" d="M35.77,45.67l1.6-4A2.66,2.66,0,0,0,37.63,40a2.57,2.57,0,0,0-1.29-1.27C31.26,35.8,23.65,34,18.29,36.31"/>
          <path fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="1.04px" d="M47.5,92.85c-2.1,2.57-4.55,1.77-6.77,3.06"/>
        </g>
        <g>
          <path fill="#fff" d="M72.5,20.55c.1,10.3,5.29,20.71,2.26,30.55-2.13,6.92-7.94,12-11.2,18.51a8.51,8.51,0,0,0-1.17,4.58c.33,3.22,3.55,5.33,4.85,8.29s.62,6.17,1.74,9c.59,1.53,1.65,2.83,2.37,4.31A22,22,0,0,1,73,101.77L74.7,112c.83,4.82,2,10.17,6.07,12.86,4.33,2.85,10.21,1.45,14.7-1.13a39.28,39.28,0,0,0,15.77-18.08,62.12,62.12,0,0,0,5-23.71c.15-4.77-1.5-25.07-4.32-31.08C104.81,35.65,79.69-4.19,77.27.36A45.27,45.27,0,0,0,72.5,20.55Z"/>
          <path d="M87,54c1.27-.7,2.5-1.42,3.68-2.19a12.7,12.7,0,0,0,4.09-3.65c.43-.73.57-1.73-.35-2.16a3.54,3.54,0,0,0-1.36-.24c-2.81-.13-11.79-1.5-12.79,1-1.11,2.8,4.93,5.17,3.1,7.91A4.59,4.59,0,0,0,87,54Z"/>
          <path fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="1.04px" d="M79.9,45.31l-1.66-4A2.6,2.6,0,0,1,78,39.65a2.53,2.53,0,0,1,1.27-1.29c5-3,12.61-4.93,18-2.69"/>
          <path fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="1.04px" d="M68.94,92.68c2.14,2.53,4.57,1.69,6.82,2.95"/>
        </g>
      </g>
