mixin pistol()
  svg.pistol(viewBox="-70 0 161.64 54.82" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
    image(height="957" transform="scale(.06)" width="1600" xlink:href="../assets/pistol.png")
    path(d="m17.24 4.26c.72.89-1.79 6.79-2.85 7l-7.95-3.18a14.25 14.25 0 0 1 -6-4.59 2.08 2.08 0 0 1 1.33-3.32 14.31 14.31 0 0 1 7.52.83z" style="transform: scale(0.8) translate(-25px, 40px)")
    path(d="m14.29 0c1.14.13 3.5 6.09 2.92 7l-7.91 3.31a14.28 14.28 0 0 1 -7.51 1 2.08 2.08 0 0 1 -1.38-3.31 14.19 14.19 0 0 1 6-4.67z" style="transform: scale(0.8) translate(-60px, 5px)")
