mixin ship()
  svg.ship(viewBox="-25 0 99.56 70.66" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
    defs
      path(id="core-route" d="M4 4 C -6 0, -16 4 -20 60")
    path.black(d="m50.59 51.52c4.33.32 7.48.53 7.56 1.14s-2.1.84-4.57 1c-1.56.12-1.47 1.07-.75 1.21a61.16 61.16 0 0 0 9 .74c1.66 0 3.3.18 3.35.6s-.66.73-3.4 1.17c-1.43.24-1.78.84 1.25 1.12 2.58.25 3.84.72 3.49 1.37s-3.43.77-4.5.86c-3.44.29-9.18.07-10.69 1-.55.33 1 .7 2 1s2.15.36 3.15.64c.3.08.61.2.69.38.2.4-.77.65-1.52.72l-6.6.64c0 .42.9.62 1.62.77s1.51.59 1 .91a1.66 1.66 0 0 1 -.49.18 35.25 35.25 0 0 1 -7.14.8 3 3 0 0 0 -.69.08c-.61.2-.34.85.3 1 2.21.36 2.72 1.3-1 1.41-4.38.13-9.64.22-9.61-.76 0-.79 2.48-.61 2.46-1.55 0-.66-1.7-.94-2.54-1.15-3-.71-6.53-.35-9.57-1-.73-.15-.82-.7-.16-.92a4.37 4.37 0 0 0 1.46-.53c.3-.3 0-.71-.54-.9a6.2 6.2 0 0 0 -1.82-.27c-2.91-.16-5.82-.24-8.73-.26a20.38 20.38 0 0 1 -4.2-.33c-.93-.21-.94-.94 0-1.14 2.32-.52 4.93-.67 7.38-1 .66-.1 1.43-.27 1.38-.71s-.47-.54-1-.62c-2.51-.37-5.07-.61-7.66-.73a2.37 2.37 0 0 1 -1.64-.58c-.58-.68.61-1.16 1.69-1.31a9.85 9.85 0 0 0 2.63-.48c.22-.1.4-.23.43-.39.08-.36-.67-.6-1.31-.73a63.54 63.54 0 0 0 -7.41-1c-1.06-.08-2.33-.21-2.67-.78-.24-.39.1-.82.71-1.07a23.75 23.75 0 0 1 5.35-.46z")
    circle.black(cx="0" cy="4" r="3")
      animateMotion(dur="2s" repeatCount="indefinite" begin="indefinite")
        mpath(xlink:href="#core-route")
    image(width="856" height="594" transform="matrix(.09 0 0 .09 .41 .38)" xlink:href="../assets/ship.png")
